node_modules/
dist/
.env
*.log
out/
nul

# IDE
.vscode/settings.json
.idea/

# OS
Thumbs.db
.DS_Store

# Temp state files
cUsersmichaDnDreplays_temp_state.json
*replays_temp_state.json
*replays_temp_state.*.json
*.temp.json

# Build artifacts
*.tsbuildinfo
